    
#button1{
background-color: rgba(43, 40, 32, 0.979);
width:14% ; 
height: 7%;
font-family: serif;
color: cyan;
}

body { 
background-image:url('back1.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-size:100% 100%;
}

input[type=submit], input[type=reset] {
  background-color: #92316a;
  border: none;
  color: rgb(71, 69, 69);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;   
}

.divcontainer{
  border-radius: 25px 25px 25px 25px;
  background: rgb(32, 36, 32);
  padding: 40px; 
  width: 300px;
  height: 220px;
  align-items:center;
  color: rgb(234, 227, 240);
  }