#button1{
    background-color: rgb(251, 255, 0);
    width:14% ; 
    height: 6%;
    }
    

body { background-image:url('back1.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-size:100% 100%;}


        #button1{
        background-color: red;
        width:14% ; 
        height: 6%;
        }